// Tipografía

$font-family: Arial; // Todo el proyecto

// Tamaños tipográficos
$font-size-base: 16px; // Base
$font-size-titulo: convertir(36);
$font-size-parrafo: convertir(18);
$font-size-boton: convertir(24);

// Colores
$color-fondo: #EDB84F;
$color-fondo-boton: #BE2424; 
$color-blanco: #ffff;


